<template name="layout">
  <div class="container">
    {{#if currentUser}}
    	{{> loggedInNavigation}}
    {{else}}
    	{{> loggedOutNavigation}}
    {{/if}}
    <div id="main">
      {{> yield}}
    </div>
  </div>
  
<!--
<div id="container">
 
<h2>This is a heading</h2>
<p>This is a paragraph.</p>
<p>This is another paragraph.</p>

<button class="button">Click me</button>
</div>
-->

<!-- new test -->
<div class="block">
<h2>I </h2>
<ul>
<li class="editable editHover">am Siddharth</li>
<li class="editable">love working with the web</li>
<li class="editable">am a freelancer</li>
<li class="noteditable">write for Net Tuts</li>
<li class="noteditable">can be found at <a href="http://www.ssiddharth.com">www.ssiddharth.com</a></li>
<li class="editable">will never let you down or give you up :)</li>
</ul>
</div>



</template>


