<template name="noteSubmit">
<!--
  <form class="main newReminder page form-inline" role="form"> 
    <div class="form-group">
          <input name="title" id="title" type="text" value="" placeholder="Add note" class="form-control"/>
    </div>
    <div class="form-group">    
          <input name="dueDate" id="dueDate" type="date" value="" placeholder="Due Date" class="form-control datepicker"/>
    </div>
    <div class="form-group">      
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
-->
  
<!--   {{> quickForm collection="Notes" id="insertNotesForm" type="insert"}} -->

<div class="submitNote">
	<div class="input-group">
	  {{#autoForm collection="Notes" id="insertNotesForm" class="form-inline" type="insert"}}
	    <div class="input-group">
		    <fieldset>
			    {{> afQuickField placeholder="Add Note" class="col-sm-6" name='title' label=false}}
				{{> afQuickField placeholder="Due Date (optional)" class="col-sm-6" name='dueDate' label=false}}
<!-- 				{{> afQuickField name='isItDone' label=false}} -->
		    </fieldset>
		    <div class="input-group-btn">
			    <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i></button>
			</div>
	    </div>
	  {{/autoForm}}
	</div>
</div>
  
</template>
