<template name="noteItem">
  <div class="note">	   
	    <div class="noteList">
	      <li class="{{#if isItDone}}checked{{/if}}">
		  	<input type="checkbox" checked="{{isItDone}}" class="toggle-isItDone" />
   {{#if editing}}
    <input type="text" id="noteTitle" value="{{title}}" /> 
    <input type="text" id="noteDueDate" value="{{dueDate}}" />
    <button class="btn btn-sm btn-primary buttonToSaveNewValue" type="submit">Save</button> 
    <a href="#" class="delete"><i class="fa fa-trash-o"></i></a>
  {{else}}
      <span class="text {{#if isItDone}}noteDone{{/if}} editNote"  >{{title}}</span>  
      <span  class="editNote"  >{{dueDate}}</span> 
  {{/if}}
		  	<a href="#" class="noteStar {{#if starred}}starred{{/if}}"><i class="fa fa-star"></i></a>
		  </li>
	    </div>
    </div>
	       
<!-- NEW in April
   {{#if editing}}
    <input type="text"  value="{{title}}" />
	{{else}}
      <p><span class="content col-md-10" id="edit"  >{{title}} </span>
	  <a class="delete" href="#"><i class="fa fa-trash" aria-hidden="true"></i></a> 
      <a href="#" class="noteStar {{#if starred}}starred{{/if}}"><i class="fa fa-star"></i></a> 
      <a href="{{pathFor 'noteEdit'}}">Edit</a>
      </p>
  	{{/if}}    
-->

  
</template>


<!-- THIS WORKS but is ugly and inline.
	
	  <form class="main form page">
	    <div class="form-group">
	      <div class="controls">
	          <input name="title" id="title" type="text" value="{{title}}" placeholder="title" class="form-control"/>
	      </div>
	    </div>
	    <input type="submit" value="Submit" class="btn btn-primary submit"/>
	    <hr/>
	  </form>
-->