<template name="noteSubmit">
  <form class="main newReminder page form-inline">
    <div class="form-group">
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="Add note" class="form-control"/>
      </div>
    </div>
    <div class="form-group">    
      <div class="controls">
          <input name="dueDate" id="dueDate" type="date" value="" placeholder="Due Date" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>

<!-- April rebuild
<template name="noteSubmit">
  <form class="main form page">
	<div class="form-group">
      <div class="controls">
          <input name="title" id="title" type="text" value="" placeholder="Enter Reminder" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>
-->