<template name="noteItem">
  <div class="note">	   
	    <div class="noteList">
	      <li class="{{#if isItDone}}checked{{/if}} editable">
		  	<input type="checkbox" checked="{{isItDone}}" class="toggleIsItDone" />
	      
      <span class="text {{#if isItDone}}noteDone{{/if}} editNote editable"  >{{> editableText collection="notes" field="title"}}</span>  
      <span  class="noteEdit {{dateColor}}"  >{{daysFromNow}}</span> {{dateColor}}

  {{#if starred}}
  	<a href="#" class="noteStar starred"><i class="fa fa-star"></i></a>
  {{else}} 
    <a href="#" class="noteStar"><i class="fa fa-star-o"></i></a>
  {{/if}}
		  <a href="#" class="delete trashCan"><i class="fa fa-trash-o"></i></a>
		  </li>
	    </div>
    </div>
	         
</template>


<!--
using other plug: meteor remove lbee:moment-helpers
{{moFromNow dueDate withoutSuffix}}
-->