<template name="compare">

    <!-- Page Content -->
    <div class="container">
	    
	    <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1 class = "text-center">Simple & Powerful</h1>
            <h4 class = "text-center">We've got the features you need, but it's the experience you'll fall in love with.</h4>
        <p class = "text-center">
		  <a href="signup.html"><button type="button" class="btn btn-primary">
		    Try it Free!
		  </button></a>
        </p>
        </header>
 
        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h2>Latest Features</h2>
            </div>
        </div>
	    
	    <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                         
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                         
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                         
                    </div>
                </div>
            </div>

        </div>
        <!-- / Page Features -->
        
	    <p>&nbsp;</p>
	    
	    <div>
	        <table class="table table-hover">
			    <thead>
				    <tr>
						<th>
							Features
						</th>
						<th class="text-center">
							Darn&nbsp;Simple
						</th>
						<th class="text-center">
							Darn&nbsp;Powerful
						</th>
					</tr>
			    </thead>
				<tr>
					<td>
						Up to 5,000 contacts per organization
					</td>
					<td class="text-center warning">
						<span class="glyphicon glyphicon-ok"></span>
					</td>
					<td class="text-center">
						<span class="glyphicon glyphicon-ok"></span>
					</td>
				</tr>
				<tr>
					<td>
						Unlimited contacts per organization
					</td>
					<td class="text-center warning">
						&nbsp;
					</td>
					<td class="text-center">
						<span class="glyphicon glyphicon-ok"></span>
					</td>
				</tr>
				<tr>
					<td>
						Contacts synced with your iPhone
					</td>
					<td class="text-center warning">
						<span class="glyphicon glyphicon-ok"></span>
					</td>
					<td class="text-center">
						<span class="glyphicon glyphicon-ok"></span>
					</td>
				</tr>
				<tr>
					<td>
						Contacts synced with Apple Mail
					</td>
					<td class="text-center warning">
						<span class="glyphicon glyphicon-ok"></span>
					</td>
					<td class="text-center">
						<span class="glyphicon glyphicon-ok"></span>
					</td>
				</tr>
				<tr>
					<td>
						Contacts synced with Android
					</td>
					<td class="text-center warning">
						Coming Soon!
					</td>
					<td class="text-center">
						Coming Soon!
					</td>
				</tr>
				<tr>
					<td>
						Auto import and recording of all emails
					</td>
					<td class="text-center warning">
						&nbsp;
					</td>
					<td class="text-center">
						<span class="glyphicon glyphicon-ok"></span>
					</td>
				</tr>
				<tr>
					<td>
						Easy data import
					</td>
					<td class="text-center warning">
						<span class="glyphicon glyphicon-ok"></span>
					</td>
					<td class="text-center">
						<span class="glyphicon glyphicon-ok"></span>
					</td>
				</tr>
				<tr>
					<td>
						Import Contacts and Tasks from Salesforce
					</td>
					<td class="text-center warning">
						<span class="glyphicon glyphicon-ok"></span>
					</td>
					<td class="text-center">
						<span class="glyphicon glyphicon-ok"></span>
					</td>
				</tr>
				<tr>
					<td>
						Import Contacts and Tasks from Nimble
					</td>
					<td class="text-center warning">
						<span class="glyphicon glyphicon-ok"></span>
					</td>
					<td class="text-center">
						<span class="glyphicon glyphicon-ok"></span>
					</td>
				</tr>
				<tr>
					<td>
						Automatic Contact Import Google
					</td>
					<td class="text-center warning">
						<span class="glyphicon glyphicon-ok"></span>
					</td>
					<td class="text-center">
						<span class="glyphicon glyphicon-ok"></span>
					</td>
				</tr>
				<tr>
					<th class="text-right">
						Pricing
					</th>
					<th class="text-center warning">
						Free
					</th>
					<th class="text-center">
						$10 per Month
					</th>
				</tr>
			</table>		
	    </div>
	    
	           <header class="jumbotron hero-spacer">
            <h4 class = "text-center">It takes less than a minute to sign up. Try it and see if we've got the juice.</h4>
        <p class = "text-center">
		  <button type="button" class="googleLogin btn btn-danger btn-social-login btn-google"><i class="fa fa-google"></i> &#124; Try For Free</button>
        </p>
        </header>
	   
	    
    </div> 
    <!-- / Page Content -->


</template>