<template name="home">
<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1 class = "text-center">People are confusing.</h1>
        <h2 class = "text-center">Keeping track of them shouldn't be.</h2>      
        <h4 class = "text-center">Let us help you.</h4>
        <p>&nbsp;</p>
        <p class = "text-center">
		  <a href="tour"><button type="button" class="btn btn-primary">
		    Take a tour
		  </button></a>
		  <button type="button" class="googleLogin btn btn-danger btn-social-login btn-google"><i class="fa fa-google"></i> &#124; Sign Up Free</button>
		  <a href="{{pathFor 'compare'}}"><button type="button" class="btn btn-primary">
		    Compare Features
		  </button>
		  </a>
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
		</div>
		
		<!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h2>Latest Features</h2>
            </div>
        </div>
        <!-- /.row -->
		
		<div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                         
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                         
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                         
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
		
		 <div class="jumbotron hero-spacer">
            <h4 class = "text-center">Over 150 of the most requested features in a CMS</h4>
        <p class = "text-center">
		  <a href="compare.html"><button type="button" class="btn btn-primary">
		    Complete Feature List
		  </button></a>
        </p>
        </div>
</template>