<template name="dashboard">
	<h2>Contacts</h2>
<!-- 	{{> contactEasySearchBox}} -->
	{{> contactList}}
<!--
	// Fuzzy Search
	{{> contactSearchBox}}
	{{> contactSearchResults}}
-->
	
	<form action="{{pathFor 'contactAdd'}}">
    	<input type="submit" class="btn btn-success" value="Add Contact">
	</form>
	
<!-- 	<button class="btn btn-success" type="button" data-toggle="modal" data-target="#add-search">Add Contact <i class="fa fa-user-plus"></i></button> -->
	
	
	{{> noteSubmit}}
	{{> noteList}}

	
	
</template>