<template name="contactEasySearchBox">
    {{> EasySearch.Input index=contactsIndex }}
<!--
    {{#EasySearch.IfInputEmpty index=myIndex}}
		<div>Start searching!</div>
	{{/EasySearch.IfInputEmpty}}
	{{#EasySearch.IfNoResults index=myIndex}}
		<div>No results found!</div>
  	{{/EasySearch.IfNoResults}}
  	{{#EasySearch.IfSearching index=myIndex}}
  		<div>Searching...</div>
  	{{/EasySearch.IfSearching}}
-->

{{#EasySearch.IfInputEmpty index=contactsIndex}}

autosuggest here:
<div class="autosuggest-component">
  {{> EasySearch.Autosuggest index=contactsIndex}}
</div>

<!--   <div>Start searching!</div> -->
  {{else}}
    <ul>
        {{#EasySearch.Each index=contactsIndex }}
            <li>Name: {{firstName}} / {{lastName}} / {{searchOnMe}}</li>
        {{/EasySearch.Each}}
        {{> EasySearch.LoadMore index=contactsIndex content="Load more content"}}

    </ul>
  
{{/EasySearch.IfInputEmpty}}



    
</template>
