<template name="contactItem">
  <div class="contact">	   
	    <div class="contactList">
	      <li class="editable">
	      
      <span class="editable"  >{{> editableText collection="contacts" field="firstName"}}</span>  
      contactOwnerID: {{contactOwnerID}} 
      createdAt: {{createdAt}}
      contactOwnerName: {{contactOwnerName}} 
	  authorID: {{authorID}}
	  {{#each emails}}
	  	email: {{address}}
	  {{/each}}
	  	<a href="#" class="delete trashCan"><i class="fa fa-trash-o"></i></a>
    	{{#if starred}}
			<a href="#" class="contactStar starred"><i class="fa fa-star"></i></a>
		{{else}} 
    		<a href="#" class="contactStar"><i class="fa fa-star-o"></i></a>
		{{/if}}
		  </li>
	    </div>
    </div>         
</template>


