<template name="contactSearchBox">
	<form class="navbar-form contactSearch" role="search" id="contactSearch">
	        <div class="input-group">
	            <input type="input" class="form-control" placeholder="Add or Find Contacts" name="srch-term" id="srch-term">
	            <div class="input-group-btn">
	                <button class="btn btn-success contactSearch" type="button" data-toggle="modal" data-target="#add-search"><i class="glyphicon glyphicon-search"></i></button>
	            </div>
	            
	<!-- 			From example	 -->
	<!--             <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#add-search">Open Modal</button> -->
	
	        </div>
	</form>
</template>