<template name="contactDetail">
<h2>{{> editableText collection="contacts" field="firstName"}} {{> editableText collection="contacts" field="lastName"}}</h2>
<h3>{{> editableText collection="contacts" field="organization"}}</h3>
  <div class="contact">	   
	    <div class="contactList">
	      <li class="editable">
	      
      <span class="editable {{#if archived}}archived{{/if}}"  ></span> 
      <span class="grey"> 
<!--
      contactOwnerID: {{contactOwnerID}} 
      createdAt: {{createdAt}}
      contactOwnerName: {{contactOwnerName}} 
	  authorID: {{authorID}}
	  {{#each emails}}
	  	email: {{address}}
	  {{/each}}
	  combined for search: 
-->
	s:{{searchOnMe}}
	  {{#each social}}
	  	<i class="fa {{socialIcon}}"></i>
	  	{{address}}
<!-- 	  	{{starred}} -->
	  	{{#if starred}}
			<a href="#" class="socialStar starred"><i class="fa fa-star"></i></a>
		{{else}} 
    		<a href="#" class="socialStar"><i class="fa fa-star-o"></i></a>
		{{/if}}
	  	
<!-- 	  	editme: {{> editableText collection="contacts" field="address"}} -->
	  	
	  {{/each}}
	  -----
      </span>
	  	<a href="#" class="delete trashCan"><i class="fa fa-trash-o"></i></a>
    	{{#if starred}}
			<a href="#" class="contactStar starred"><i class="fa fa-star"></i></a>
		{{else}} 
    		<a href="#" class="contactStar"><i class="fa fa-star-o"></i></a>
		{{/if}}
		  </li>
	    </div>
    </div>         
</template>


